/* The animation code */
@keyframes homeText {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}

.animation-text {
  animation-name: homeText;
  animation-duration: 5s;
}

@keyframes fadeIn {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}

.fade-in-block {
  animation-name: fadeIn;
  animation-duration: 1s;
}

/* Video */
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
} 