/* Backgrounds */
.bg-general {
  background-color: #ffffff;
}

.bg-button {
  /* background-color: #25283D; */
  background-color: #2C3784;
}

/* Text */
.text-color-white {
  color: #ffffff
}

.text-color-primary {
  /* color: #25283D */
  color: #3A358B
}

.text-color-secondary {
  /* color: #4B3F72 */
  color: #a53784
}

.text-color-general {
  color: #18276c
}

p {
  color: #18276c
}

.nav-link-top.active {
  color:  #18276c !important;
}

.nav-link-top:hover {
  color:  #3A358B !important;
}

a {
  color: #495057;
}

a:hover {
  color: #A7207D;
}


/* Borders */
.border-none {
  border: unset
}

.border-one {
  border: 1px solid;
  border-color: #25283d;
}
